<div class="header__home">
	<a class="header__home-link" href="/">
		<img src="/images/telescope.png" alt="Star Tracker Icon" class="header__home-icon">
		<span class="header__home-title">Star Tracker Library</span>
	</a>
</div>

<ul class="navbar">
	<a class="navbar__link" href="/galaxies">
		<li class="navbar__item">
			Galaxies
		</li>
	</a>
	<a class="navbar__link" href="/stars">
		<li class="navbar__item">
			Stars
		</li>
	</a>
	<a class="navbar__link" href="/planets">
		<li class="navbar__item">
			Planets
		</li>
	</a>
</ul>
