@use "../../base/" as *;
@use "../../components/" as *;

.star-create {
  max-width: 50em;
  margin: 0 auto;
  &__title {
    font-size: $heading-1-size;
    font-weight: $font-weight-bold;
    margin: 3rem 0;
    color: $black;
    letter-spacing: 0.25rem;
  }

  &__form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  &__input {
    @extend .input;
  }

  &__textarea {
    @extend .textarea;
    grid-column: span 2;
  }

  &__button {
    @extend .button;
    grid-column: span 2;
  }
}
