/* SCSS HEX */
$mauveine: #802392ff;
$purpureus: #995fa3ff;
$cool-gray: #9a98b5ff;
$powder-blue: #a0b9c6ff;
$aquamarine: #a5f8d3ff;

// gray scale colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

//white and black colors
$white: #ffffff;
$black: #000000;

// background
$background-primary: $powder-blue;
$background-secondary: #1e1e20;
$background-tertiary: #0e0e10;

// semantic colors
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
