$font-primary: "Roboto", sans-serif;
$font-size-primary: 1rem;
$font-weight-regular: 400;
$font-weight-bold: 700;
$line-height-primary: 1.5;
$line-height-heading: 1.2;

$heading-1-size: 2.5rem;
$heading-2-size: 2rem;
$heading-3-size: 1.75rem;
$heading-4-size: 1.5rem;
$heading-5-size: 1.25rem;
$heading-6-size: 1rem;

$paragraph-size: $font-size-primary;
$small-size: 0.875rem;
$smaller-size: 0.75rem;
